html, body {
  width: 100%;
  height: 100%;
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/green_dust_scratch.png');
}

/* #appDiv {
  width: 100%;
  height: 100%;
} */

h1 {
  padding: 15px;
  font-size: 35px;
}

.column {
  display: flex;
  flex-direction: column;
}
.centered{
  margin: auto;
  display: flex;
  justify-content: center;
}

.submit {
  margin-top: 10px;
}

/* .centerHorizontal {
  display: flex;
  justify-content: center;
} */

@media(max-width:481px){  
  .centerHorizontal {
      margin-left: auto;
      margin-right: auto;
  } 
}