html, body {
  background-color: #90cfd5;
  width: 100%;
   /* height: 100%;  */
  padding: 0px;
  margin: 0px; 
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
}

#appDiv {
  background-color: #90cfd5;
  height: 460px;
  margin: 0;
}

h1 {
  padding: 15px;
  font-size: 35px;
}

.column {
  display: flex;
  flex-direction: column;
}
.centered{
  margin: auto;
  display: flex;
  justify-content: center;
}

.submit {
  margin-top: 10px;
}


@media(max-width:481px){  
  .centerHorizontal {
      margin-left: auto;
      margin-right: auto;
  } 
}